.page {
  max-width: 500px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.checkbox,
.radio {
  flex-direction: row;
  align-items: center;
}

.form fieldset {
  padding: 1rem;
}

.form fieldset legend {
  padding: 0 0.5rem;
}

.radio {
  margin-bottom: 0.25rem;
}
